// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #3B3B3B;
$colorOne: #45B2D6;
$colorTwo: #F27555;
$colorThree: #AABFBF;
$colorFour: #CBD7D7;
$colorFive: #C4C8C5;
$colorGrey: #A6A6A6;

