// =================================================================
// 	Mediapreview
// 	Sections
// =================================================================

.hero {
	margin-top: 0px;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 80px 0 10px 0;
	z-index: 5;
	overflow: hidden;
	position: relative;

	.col-6 {
		z-index: 10;
		display: block;
		margin: 0 auto;
		float: none;
		position: relative;
	}

	h1 {
		color: #fff;
		font-size: 2.2em;
		line-height: 1.1;
		text-align: center;
		font-weight: 700;
	}

	.button-holder {
		width: 300px;
		height: 60px;
		display: block;
		margin: 35px auto;
	}

	.ios-store, .play-store {
		display: block;
		width: 140px;
		height: 41px;
		overflow: auto;
		display: block;
		background-image: url('images/google-play.png');
		background-size: 100% 100%;
		background-position: 0 0;
		float: left;
	}

	.ios-store {
		float: right;
		background-image: url('images/app-store.png');
	}

	.link-btn-one {
		display: block;
		margin: 40px auto 0 auto;
		float: none;
	}

	.image {
		background: $colorOne;
		box-shadow: 0px 0px 25px rgba(0,0,0,0.5);

		iframe {
			margin-left: -1px;
		}
	}

	img {
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
		overflow: hidden;
	}

	@include mq("medium", "max-width") {

		.col-8, .col-6 {
			@include calc(width, "66.64% - 10px");
		}

	}

	@include mq("small", "max-width") {
		padding-bottom: 0px;
		padding-top: 100px;

		h1 {
			font-size: 1.8em;
		}

		.button-holder {
			padding: 10px 0 20px 0;
		}

		img {
			display: block;
			width: 300%;
			height: auto;
			float: none;
			margin: 0 auto;
			margin-left: -120%;
		}

		.col-8, .col-6 {
			width: 100%;
		}
	}

	@include mq("nano", "max-width") {
		h1 {
			font-size: 1.5em;
		}

		.button-holder {
			width: 100%;
		}

		.ios-store, .play-store {
			width: 130px;
			height: 40px;
		}
	}
}

.about {
	padding: 80px 0 50px 0;
	height: auto;
	overflow: auto;

	p {
		font-size: 1.3em;
		color: #fff;
	}

	@include mq("small", "max-width") {
		padding: 0;

		.col-6 {
			width: 100%;

			p:first-child {
				margin-top: 40px;
			}
		}
	}

	@include mq("nano", "max-width") {

		img {
			width: 240px;
		}

		p {
			font-size: 1.1em;
		}

		p:first-child {
			margin-top: 25px;
		}

	}
}



